* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--text);
}

:root {
  --link-color: brown ;
  --main-color: #43e04f;
  --background: #fff;
  --restaurant-background: #eee;
  --text: #000;
}

#search-field {
  outline: none;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav ul {
  display: flex;
  align-content: center;
  list-style-type: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  padding: 0.5em;
}

a:hover {
  color: var(--background);
  background-color: var(--link-color);
  border: var(--background);
  border-radius: 5px;
}

header {
  background-color: var(--main-color);
  display: flex;
  height: 30vh;
}

h1 {
  font: bold 3.5em/1.2 'Roboto Slab', serif;
  color: var(--background);
}

h2 {
  font: 1.5em/1.2 'Roboto Slab', serif;
  color: var(--background);
}

h3 {
  font: bold 1.2em/1.2 'Roboto Slab', serif;
  margin-bottom: 1em;
}

.logo-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-image {
  flex: 3;
  background: url("../images/pan01.jpg") no-repeat center center/cover;
}

#buttons {
  padding: 1em 0;
}

button {
  cursor: pointer;
}

.restaurant {
  width: 40vw;
  min-height: 10em;
  background-color: var(--restaurant-background);
  padding: 1em;
  border-radius: 10px;
  border-style: dotted;
  border-color: var(--link-color);
  border-width: 2px;
}

.menu, .menuF {
  font-size: 0.9em;
  list-style-type: none;
  padding-top: 1em;
}

.course {
  padding: 0.5em 0;
}

#search-box {
  border: 1px solid var(--link-color);
  border-radius: 6px;
  width: 20em;
  height: 2em;
}

#search-image {
  position: absolute;
  width: 20px;
  cursor: pointer;
}

#search-image > svg {
  height: 100%;
  padding:0.3em 0 0 0.5em;
  fill: var(--link-color);
}

#search-text {
  padding: 0.4em 0 0 2em;
  outline: none;
}

#info-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#info {
  width: 60vw;
  padding: 2em;
}

#triangle {
  width: 0;
  height: 0;
  border-bottom: 30vh solid var(--main-color);
  border-right: 10vw solid transparent;
}

#restaurant-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#lang, #sort, #random {
  padding: 0.5em 1em;
  margin: 0.5em 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
}

.customize {
  background-color: var(--main-color);
  color: var(--background);
  padding: 1em;
  cursor: pointer;
}

